.mainContainer {
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
}

.imagenP {
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid #999;
    padding: 13px;
    width: 220px;
    height: max-content;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    text-decoration: none
}

.imagenP img {
    width: 150px;
}

.imagenP a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

.imagenP a:link {
    color: #265301;
}

.imagenP a:visited {
    color: #437A16;
}

/* .imagenP a:focus { */
    /* border-bottom: 1px solid; */
    /* background: #BAE498; */
/* } */

/* .imagenP a:hover { */
    /* border-bottom: 1px solid; */
    /* background: #CDFEAA; */
/* } */

.imagenP a:active {
    background: #265301;
    color: #44a400;
}